body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

.building-map {
  width: 100%; /* dopasowanie do szerokości kontenera */
  height: auto; /* zachowanie proporcji */
  display: block;
}

.floor {
  cursor: pointer;
  transition: fill 0.3s;
}

.floor:hover {
  fill: rgba(0, 123, 255, 0.5); /* podświetlenie piętra */
}

/* Tooltip */
#tooltip {
  position: absolute;
  color: black;
  padding: 6px 10px;
  border-radius: 4px;
  pointer-events: none;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  text-align: left;
  opacity: 0.8;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  display: none; /* ukryty na start */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  /* width: 400px; */
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 24px;
  cursor: pointer;
}

.popup-back {
  display: none; /* pokażemy tylko przy kliknięciu mieszkania */
  margin-top: 10px;
}

.floor-layout .apartment {
  cursor: pointer;
  transition: fill-opacity 0.3s;
}

.floor-layout .apartment:hover {
  fill-opacity: 0.8;
}
